.timebox-list .x-boundlist-item {
    overflow-x: hidden !important;
}
.rally-user-combobox {
    border: none;
}
.filter-container .x-form-item-label {
    font-weight:bold;
}
.combobox-left-arrow {
    display: none !important;
}
.combobox-right-arrow {
    display: none !important;
}